.home-route-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .home-route-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    background-size: cover;
  }
}

.home-container {
  height: 100vh;
  width: 95%;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .home-container {
    width: 60%;
    padding-left: 40px;
  }
}

.home-heading {
  font-family: 'Roboto';
  font-size: 34px;
  color: #ffffff;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 90px;
  }
}

.home-description {
  font-family: 'Roboto';
  font-size: 16px;
  color: #f1f5f9;
  font-weight: 350;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .home-description {
    font-size: 26px;
    width: 90%;
  }
}

.find-job-button {
  background-color: #6366f1;
  font-family: 'Roboto';
  padding: 8px 20px 8px 20px;
  color: #ffffff;
  font-size: 13px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .find-job-button {
    font-size: 16px;
    font-weight: 700;
    padding: 15px 30px 15px 30px;
  }
}
